<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test  name="Regression" thread-count="2" parallel="methods">
        <classes>
            <class name="Saucelab_Test">
                <!--<methods>
                    <include name="first"/>
                    <include name="second" />
                </methods>-->
            </class>
        </classes>
    </test>
</suite>